body {
    color: #fff;
    background-color: #4F8BF9;
}

.css-1aumxhk {
color: #ffffff
}

.stButton>button {
    color: #4F8BF9;
    height: 3em;
    width: 10em;
}
.stTextInput>div>div>input {
    color: #4F8BF9;
}